.buildings-container {
    position: absolute;
    z-index: 2;
    right: 2%;
    top: 3%;
    // width: ;
    // height: 94%;
    padding: 1% 2%;
    background: #003953;
    // border: 1px solid white;
    border-radius: 3px;
    color: white;
    .buildings {
        text-align: center;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
        }
        >div {
            font-size: 1.6em;
            margin: 1em 0;
        }
    }
}